<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenv.dao.FoodMapper" >
  <resultMap id="BaseResultMap" type="com.chenv.pojo.Food" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_type_id" property="foodTypeId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="mprice" property="mprice" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, food_name, food_type_id, price, mprice, remark, img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from food
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chenv.pojo.Food" >
    insert into food (id, food_name, food_type_id, 
      price, mprice, remark, 
      img)
    values (#{id,jdbcType=INTEGER}, #{foodName,jdbcType=VARCHAR}, #{foodTypeId,jdbcType=INTEGER}, 
      #{price,jdbcType=DOUBLE}, #{mprice,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chenv.pojo.Food" >
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="foodName != null" >
        food_name,
      </if>
      <if test="foodTypeId != null" >
        food_type_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="mprice != null" >
        mprice,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="img != null" >
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodTypeId != null" >
        #{foodTypeId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="mprice != null" >
        #{mprice,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenv.pojo.Food" >
    update food
    <set >
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodTypeId != null" >
        food_type_id = #{foodTypeId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="mprice != null" >
        mprice = #{mprice,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenv.pojo.Food" >
    update food
    set food_name = #{foodName,jdbcType=VARCHAR},
      food_type_id = #{foodTypeId,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      mprice = #{mprice,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>