<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

	<!-- 注册和衍射servlet -->
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>com.chenv.javaweb.LoginServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/helloServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 配置当前web引用的初始化参数 -->
	<context-param>
		<param-name>user</param-name>
		<param-value>chenv</param-value>
	</context-param>
	
	<context-param>
		<param-name>password</param-name>
		<param-value>123</param-value>
	</context-param>
</web-app>
